html,
body {
	position: relative;
	height: 100%;
}

.swiper {
	width: 100%;
	height: 100%;
}

/* background image */
.bg-image {
	width: 100%;
	position: absolute;
	overflow: hidden;
	z-index: -1;
}
.bg-image img {
	width: 200%;
	fill: var(--background-primary);
}
.inner {
	height: 100vh;
}
.image {
	width: 100%;
	height: 100%;
}

.illustrator  {
	filter: drop-shadow(0.5rem 2rem 2rem rgba(0,0,0,0.36));
}

