<div class="container-fluid py-2 header">
    <div class="row">
        <div class="col p-0">
            <div class="logo">
                <!-- <img src="/images/logoh32.png" alt=""> -->
            </div>
        </div>
        <div class="col p-0 d-flex justify-content-end ">
            <div class="frame">
                <button class="hamburger">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                    <div class="line line-3"></div>
                </button>
                <ul class="menu">
                    <li>
                        <a href="/">Giới thiệu</a>
                    </li>
                    <li><a href="/timeline">Lịch sử hình thành</a></li>
                    <li><a href="/info">Thông tin</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('.hamburger').addEventListener('click', e => {
        e.preventDefault()
        const target = e.currentTarget
        if (target.classList.contains('open')) {
            target.classList.remove('open')
            target.classList.add('close')
        } else {
            target.classList.remove('close')
            target.classList.add('open')
        }
    })

</script>